<%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :bio %>
    <br>
    <%= f.file_field :avatar, class:"button" %>
    <!-- f.association :user %> -->
  </div>
  <br>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-default navbar-btn"  %>
  </div>
<% end %>
