<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag @profile.avatar %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user.username %>
</p>
<% if current_user.username == @profile.user.username %>
  <%= link_to 'Edit', edit_profile_path(@profile) %> |
  <%= link_to 'Destroy', @profile, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Back', profiles_path %>
<% else %>
  <%= link_to 'Back', profiles_path %>
<% end %>
