<div class="row">

  <!-- Store all article data in an array in the chatrooms controller and loop through it to generate the cards -->
  <% @articles_data.each do |article| %>
    <div class="col-md-3">
      <div class="panel panel-default bootcards-media">
        <div class="panel-heading">
          <h5><%= article[0] %></h5>
        </div>
        <div class="panel-body">
             <%= image_tag(article[1], class: "thumbnail image-row") %>
        </div>
        <div class="panel-footer dl-horizontal">
          <div class="row">
            <div class="col-md-6">
              <%= button_to 'Agree', chatrooms_path, method: :post, params: { topic: article[2], article: "Agree" }, class: "btn btn-success center-block" %>
            </div>
            <div class="col-md-6">
              <%= button_to 'Disagree', chatrooms_path, method: :post, params: { topic: article[2], article: "Disagree" }, class: "btn btn-danger center-block" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <!-- <div class="col-md-3">
    <div class="panel panel-default bootcards-media">
      <div class="panel-heading">
        <h5>Aaron Hernandez was no innocent bystander in a bloodstained life</h5>
      </div>
      <div class="panel-body">
           <%#= image_tag("http://www.smh.com.au/content/dam/images/z/r/5/5/s/image.related.articleLeadwide.620x349.gvo7nw.png/1492671186262.jpg", class: "thumbnail image-row") %>
      </div>
      <div class="panel-footer dl-horizontal">
        <div class="row">
          <div class="col-md-6">
            <%#= button_to 'Agree', chatrooms_path, method: :post, params: { topic: "Innocent bystander?", article: "Agree" }, class: "btn btn-success center-block" %>
          </div>
          <div class="col-md-6">
            <%#= button_to 'Disagree', chatrooms_path, method: :post, params: { topic: "Innocent bystander?", article: "Disagree" }, class: "btn btn-danger center-block" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default bootcards-media">
      <div class="panel-heading">
        <h5>North Korean threats will leave alliance countries little choice</h5>
      </div>
      <div class="panel-body">
         <%#= image_tag("http://www.smh.com.au/content/dam/images/g/v/l/h/y/1/image.related.articleLeadwide.620x349.gvqpxh.png/1493014733491.jpg", class: "thumbnail image-row") %>
      </div>
      <div class="panel-footer dl-horizontal">
        <div class="row">
          <div class="col-md-6">
            <%#= button_to 'Agree', chatrooms_path, method: :post, params: { topic: "North Korea's empty threats?", article: "Agree" }, class: "btn btn-success center-block" %>
          </div>
          <div class="col-md-6">
            <%#= button_to 'Disagree', chatrooms_path, method: :post, params: { topic: "North Korea's empty threats?", article: "Disagree" }, class: "btn btn-danger center-block" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default bootcards-media">
      <div class="panel-heading">
        <h5>Global fugitive to be extradited over people smuggling tragedy</h5>
      </div>
      <div class="panel-body">
        <%#= image_tag("http://www.smh.com.au/content/dam/images/g/v/r/s/u/4/image.related.articleLeadwide.620x349.gvpfxt.png/1493106750323.jpg", class: "thumbnail image-row") %>
      </div>
      <div class="panel-footer dl-horizontal">
        <div class="row">
          <div class="col-md-6">
            <%#= button_to 'Agree', chatrooms_path, method: :post, params: { topic: "Global fugitive tragedy?", article: "Agree" }, class: "btn btn-success center-block" %>
          </div>
          <div class="col-md-6">
            <%#= button_to 'Disagree', chatrooms_path, method: :post, params: { topic: "Global fugitive tragedy?", article: "Disagree" }, class: "btn btn-danger center-block" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default bootcards-media">
      <div class="panel-heading">
        <h5>Interest rates still lower than a year ago despite recent hikes: Data</h5>
      </div>
      <div class="panel-body">
        <%#= image_tag("http://www.smh.com.au/content/dam/images/g/l/o/o/w/j/image.related.articleLeadwide.620x349.gvr9vv.png/1493101449228.jpg", class: "thumbnail image-row") %>
      </div>
      <div class="panel-footer dl-horizontal">
        <div class="row">
          <div class="col-md-6">
            <%#= button_to 'Agree', chatrooms_path, method: :post, params: { topic: "Interest rates low?", article: "Agree" }, class: "btn btn-success center-block" %>
          </div>
          <div class="col-md-6">
            <%#= button_to 'Disagree', chatrooms_path, method: :post, params: { topic: "Interest rates low?", article: "Disagree" }, class: "btn btn-danger center-block" %>
          </div>
        </div>
      </div>
    </div>
  </div> -->

</div>

<div class="row">

  <div class="col-md-3">
    <div class="panel panel-default bootcards-media">
      <div class="panel-heading">
        <h5>Aaron Hernandez was no innocent bystander in a bloodstained life</h5>
      </div>
      <div class="panel-body">
           <%= image_tag("http://www.smh.com.au/content/dam/images/z/r/5/5/s/image.related.articleLeadwide.620x349.gvo7nw.png/1492671186262.jpg", class: "thumbnail image-row") %>
      </div>
      <div class="panel-footer dl-horizontal">
        <div class="row">
          <div class="col-md-6">
            <%= button_to 'Agree', chatrooms_path, method: :post, params: { topic: "Innocent bystander?", article: "Agree" }, class: "btn btn-success center-block" %>
          </div>
          <div class="col-md-6">
            <%= button_to 'Disagree', chatrooms_path, method: :post, params: { topic: "Innocent bystander?", article: "Disagree" }, class: "btn btn-danger center-block" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default bootcards-media">
      <div class="panel-heading">
        <h5>North Korean threats will leave alliance countries little choice</h5>
      </div>
      <div class="panel-body">
         <%= image_tag("http://www.smh.com.au/content/dam/images/g/v/l/h/y/1/image.related.articleLeadwide.620x349.gvqpxh.png/1493014733491.jpg", class: "thumbnail image-row") %>
      </div>
      <div class="panel-footer dl-horizontal">
        <div class="row">
          <div class="col-md-6">
            <%= button_to 'Agree', chatrooms_path, method: :post, params: { topic: "North Korea's empty threats?", article: "Agree" }, class: "btn btn-success center-block" %>
          </div>
          <div class="col-md-6">
            <%= button_to 'Disagree', chatrooms_path, method: :post, params: { topic: "North Korea's empty threats?", article: "Disagree" }, class: "btn btn-danger center-block" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default bootcards-media">
      <div class="panel-heading">
        <h5>Global fugitive to be extradited over people smuggling tragedy</h5>
      </div>
      <div class="panel-body">
        <%= image_tag("http://www.smh.com.au/content/dam/images/g/v/r/s/u/4/image.related.articleLeadwide.620x349.gvpfxt.png/1493106750323.jpg", class: "thumbnail image-row") %>
      </div>
      <div class="panel-footer dl-horizontal">
        <div class="row">
          <div class="col-md-6">
            <%= button_to 'Agree', chatrooms_path, method: :post, params: { topic: "Global fugitive tragedy?", article: "Agree" }, class: "btn btn-success center-block" %>
          </div>
          <div class="col-md-6">
            <%= button_to 'Disagree', chatrooms_path, method: :post, params: { topic: "Global fugitive tragedy?", article: "Disagree" }, class: "btn btn-danger center-block" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default bootcards-media">
      <div class="panel-heading">
        <h5>Interest rates still lower than a year ago despite recent hikes: Data</h5>
      </div>
      <div class="panel-body">
        <%= image_tag("http://www.smh.com.au/content/dam/images/g/l/o/o/w/j/image.related.articleLeadwide.620x349.gvr9vv.png/1493101449228.jpg", class: "thumbnail image-row") %>
      </div>
      <div class="panel-footer dl-horizontal">
        <div class="row">
          <div class="col-md-6">
            <%= button_to 'Agree', chatrooms_path, method: :post, params: { topic: "Interest rates low?", article: "Agree" }, class: "btn btn-success center-block" %>
          </div>
          <div class="col-md-6">
            <%= button_to 'Disagree', chatrooms_path, method: :post, params: { topic: "Interest rates low?", article: "Disagree" }, class: "btn btn-danger center-block" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
