<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default bootcards-media">
      <div class="panel-heading">
        <h5>Killa Killed in Prison, Ultimate Justice?</h5>
      </div>
      <div class="panel-body">
        <a href="http://www.smh.com.au/sport/us-sports/aaron-hernandez-was-no-innocent-bystander-in-a-bloodstained-life-20170419-gvo7nw.html">
           <%= image_tag("killa_killed.jpg", class: "thumbnail image-row") %>
        </a>
      </div>
      <div class="panel-footer dl-horizontal">
        <div class="row">
          <div class="col-md-6">
            <%= button_to 'Agree', chatrooms_path, method: :post, params: { topic: "chatroom 1", article: "Agree" }, class: "btn btn-success center-block" %>
          </div>
          <div class="col-md-6">
            <%= button_to 'Disagree', chatrooms_path, method: :post, params: { topic: "chatroom 1", article: "Disagree" }, class: "btn btn-danger center-block" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default bootcards-media">
      <div class="panel-heading">
        <h5>Killa Killed in Prison, Ultimate Justice?</h5>
      </div>
      <div class="panel-body">
        <%= image_tag("killa_killed.jpg", class: "thumbnail image-row") %>
      </div>
      <div class="panel-footer dl-horizontal">
        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-success center-block">Agree</button>
            <%= button_to 'Agree', chatrooms_path, method: :post, params: { topic: "chatroom 2", article: true }, class: "btn btn-success center-block" %>
          </div>
          <div class="col-md-6">
            <button class="btn btn-danger">Disagree</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default bootcards-media">
      <div class="panel-heading">
        <h5>Killa Killed in Prison, Ultimate Justice?</h5>
      </div>
      <div class="panel-body">
        <%= image_tag("killa_killed.jpg", class: "thumbnail image-row") %>
      </div>
      <div class="panel-footer dl-horizontal">
        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-success center-block">Agree</button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-danger">Disagree</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default bootcards-media">
      <div class="panel-heading">
        <h5>Killa Killed in Prison, Ultimate Justice?</h5>
      </div>
      <div class="panel-body">
        <%= image_tag("killa_killed.jpg", class: "thumbnail image-row") %>
      </div>
      <div class="panel-footer dl-horizontal">
        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-success center-block">Agree</button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-danger">Disagree</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
