<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default bootcards-media">
      <div class="panel-heading">
        <h5><%= @object.title %></h5>
      </div>
      <div class="panel-body">
           <%= image_tag @object.images.first.src.to_s, class: "thumbnail image-row" %>
        </a>
      </div>
      <div class="panel-footer dl-horizontal">
        <%= @object.description %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h1><%= @chatroom.topic %></h1>

    <div class="panel panel-default">
      <% if @chatroom.messages.any? %>
      <!--  the JS will not work without the messages ID-->
        <div class="panel-body" id="messages">
          <%= render partial: 'messages/message', collection: @chatroom.messages %>
        </div>
      <%else%>
        <div class="panel-body hidden" id="messages">
        </div>
      <%end%>
    </div>


    <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom, connect: @connect}%>
  </div>
</div>
