<ul class="nav navbar-nav">
  <li>
    <button class="btn btn-default navbar-btn">
      <%= link_to "News", new_chatroom_path %>
    </button>&nbsp;
  </li>
  <li>
    <button class="btn btn-default navbar-btn">
      <%= link_to "Sport", new_chatroom_path %>
    </button>&nbsp;
  </li>
  <li>
    <button class="btn btn-default navbar-btn">
      <%= link_to "Business", new_chatroom_path %>
    </button>&nbsp;
  </li>
  <li>
    <button class="btn btn-default navbar-btn">
      <%= link_to "World", new_chatroom_path %>
    </button>&nbsp;
  </li>
  <li>
    <button class="btn btn-default navbar-btn">
      <%= link_to "Politics", new_chatroom_path %>
    </button>&nbsp;
  </li>
  <li>
    <button class="btn btn-default navbar-btn">
      <%= link_to "Comment", new_chatroom_path %>
    </button>&nbsp;
  </li>
  <li>
    <button class="btn btn-default navbar-btn">
      <%= link_to "Property", new_chatroom_path %>
    </button>&nbsp;
  </li>
  <li>
    <button class="btn btn-default navbar-btn">
      <%= link_to "Lifestyle", new_chatroom_path %>
    </button>&nbsp;
  </li>
  <li>
    <button class="btn btn-default navbar-btn">
      <%= link_to "Entertainment", new_chatroom_path %>
    </button>&nbsp;
  </li>
  <li>
    <button class="btn btn-default navbar-btn">
      <%= link_to "Contact", contact_path %>
    </button>&nbsp;
  </li>
  <% if logged_in? %>
  <li>
    <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= link_to "Engaugeus", chatrooms_path %> <span class="caret"></span>
    </button>&nbsp;
    <ul class="dropdown-menu">
      <li><%= link_to "Engaugements", chatrooms_path %></li>
      <li><%= link_to "Profiles", profiles_path %></li>
      <li><%= link_to "New Profile", new_profile_path %></li>
      <li><%= link_to "Search Engauges", messages_path %></li>
      <li role="separator" class="divider"></li>
      <li><%= link_to "Admin Dashboard", rails_admin_path %></li>
      <li><a href="#">Future</a></li>
    </ul>
   </li>
   <li>
     <button class="btn btn-default navbar-btn">
    <%= link_to "Log Out", logout_path, method: "delete" %>
    </button>&nbsp;
   </li>
  <% else %>
  <li>
    <button class="btn btn-default navbar-btn">
      <%= link_to "Extra", new_chatroom_path %>
    </button>&nbsp;
  </li>
  <button class="btn btn-default navbar-btn">
   <li>
    <%= link_to "Sign Up", signup_path %>
   </li>
  </button>
  <button class="btn btn-default navbar-btn">
   <li>
    <%= link_to "Log In", login_path %>
   </li>
  </button>
  <% end %>
</ul>
