<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <h2 id="log-in-title">Sign up</h2>
    <div class="auth-form well">
    <%= form_for(User.new, url: signup_path) do |f| %>

    <i class="large material-icons">perm_identity</i>
      <div class="container">
        <%=f.label :username%>
        <div class="input-group">
            <%= f.text_field :username, class: "form-control"%>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "sign up", class: "btn btn-primary" %>
      </div>
    <% end %>
    </div>

      <%= render 'partials/flash_errors'%>
  </div>
</div>
