<!DOCTYPE html>
<html>
  <head>
    <title>Engauge</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>

  <div class="container">
    <%= render partial: 'partials/header' %>
    <%= render partial: 'partials/navbar' %>


    <%= yield %>

    <%= render partial: 'partials/footer' %>
  </div>
  </body>
</html>
